<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎬</text></svg>">
    <title>MovieFindr</title>
</head>
<body>

    <div class="main-bar">
        <div class="name">
            <h1>MovieFindr</h1>
        </div>

    </div>

    <div class="content-desc">
        <div class="proj-description">
            <p>
                This is a Movie Recommendation project that provides personalized 
                movie recommendations to users. It utilizes a Flask-based front-end, 
                a custom-trained Language Model (LLM) recommendation system, the 
                <a class="link-api"
                    href="https://rapidapi.com/SAdrian/api/moviesdatabase">
                    MoviesDatabase accessed through RapidAPI </a> 
                
                and MongoDB to store user information from 
                Google OAuth. The project combines these technologies to 
                deliver a seamless movie recommendation experience.
            </p>
        </div>

        <div class="get-started">
            <a href="{{url_for('home')}}"> Get Started → </a>
        </div>
    </div>

</body>
</html>