<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎬</text></svg>">
    <title>MovieFindr</title>
</head>
<body>

    <div class="main-bar">
        <div class="name">
            <h1>MovieFindr</h1>
        </div>
        {% include 'account-box.html' %}
    </div>


    <div class="choice-box">
        <h2> {{title}}</h2>
        <div class="movie-image" 
            style="background-image: url('{{ image_file }}');">
        </div>

        <div class="movie-description">
            <p> <i>Genres: {{genres}}</i> </p>
            <p> {{description}} </p>
        </div>

        <div class="buttons">
            <a class="no" href="{{ url_for('dislike') }}">
                <button class="no"> <svg fill="#000000" viewBox="0 0 24 24" id="cross-circle" data-name="Flat Line" xmlns="http://www.w3.org/2000/svg" class="icon flat-line"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><circle id="secondary" cx="12" cy="12" r="9" style="fill: #e26a82; stroke-width: 2;"></circle><line id="primary" x1="15" y1="15" x2="9" y2="9" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line><line id="primary-2" data-name="primary" x1="9" y1="15" x2="15" y2="9" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line><circle id="primary-3" data-name="primary" cx="12" cy="12" r="9" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></circle></g></svg></button>
            </a>

            <a class="yes" href="{{ url_for('like') }}">
                <button class="yes"> <svg fill="#000000" viewBox="0 0 24.00 24.00" id="check-circle" data-name="Flat Line" xmlns="http://www.w3.org/2000/svg" class="icon flat-line" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.048"></g><g id="SVGRepo_iconCarrier"><circle id="secondary" cx="12" cy="12" r="9" style="fill: #06D6A0; stroke-width: 2;"></circle><polyline id="primary" points="8 12 11 15 16 10" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline><circle id="primary-2" data-name="primary" cx="12" cy="12" r="9" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></circle></g></svg></button>
            </a>
                
        </div>

    </div>
    
</body>
</html>