<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>Home</title>
</head>
<body>

    <div class="main-bar">
        <div class="name">
            <h1>MovieFindr</h1>
        </div>

        {% include 'account-box.html' %}

    </div>


    <div class="choice-box">
        <h2> {{title}}</h2>
        <div class="movie-image" 
            style="background-image: url('{{ image_file }}');">
        </div>

        <div class="movie-description">
            <p> <i>Genres: {{genres}}</i> </p>
            <p> {{description}} </p>
        </div>

        <div class="buttons">
            <a href="{{ url_for('like') }}">
                <button class="no"> <a href="{{ url_for('like') }}"> &#10006</a> </button>
            </a>

            <a href="{{ url_for('like') }}">
                <button class="yes"> &#10004 </button>
            </a>
                
        </div>

    </div>
    
</body>
</html>