<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="main-bar">
        <div class="name">
            <h1>movir</h1>
            {% if session %}
            <p>Welcome {{session.userinfo.given_name}}!</p>
            <p>You are logged in with {{session.userinfo.email}}</p>
            <p><a href="{{url_for('logout')}}">Logout</a></p>
            {% else %}
            <p><a href="{{url_for('googleLogin')}}">Login with Google</a></p>
            {% endif %}

        </div>
    </div>

    <div class="choice-box">
        <p>movie title here</p>
    </div>
    
</body>
</html>