<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>Home</title>
</head>
<body>

    <div class="main-bar">
        <div class="name">
            <h1>MovieFindr</h1>
        </div>

    </div>


    <div>
        <a class="sign-in" href="{{url_for('googleLogin')}}">
            <p>Sign In with <br> <b>Google</b> to Begin</p>
        </a>
    </div>



    
</body>
</html>